.viewdicenumber2{
    -fx-background-color: #d6b373;
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 22px;
    -fx-font-weight: 100;
    -fx-text-fill: white;
}

.viewdicenumber3{
    -fx-background-color: #d6b373;
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 22px;
    -fx-font-weight: 400;
    -fx-text-fill: white;
}

.viewdicenumber4{
    -fx-background-color: #d6b373;
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-font-weight: 500;
    -fx-text-fill: white;
}

.viewdicenumber5{
    -fx-background-color: #d6b373;
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-text-fill: white;
}

.viewdicenumber6{
    -fx-background-color: #d6b373;
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 28px;
    -fx-font-weight: 900;
    -fx-text-fill: darkred;
}

.viewdicenumber8{
    -fx-background-color: #d6b373;
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 28px;
    -fx-font-weight: 900;
    -fx-text-fill: darkred;
}

.viewdicenumber9{
    -fx-background-color: #d6b373;
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-font-weight: 800;
    -fx-text-fill: white;
}

.viewdicenumber10{
    -fx-background-color: #d6b373;
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-font-weight: 500;
    -fx-text-fill: white;
}

.viewdicenumber11{
    -fx-background-color: #d6b373;
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 22px;
    -fx-font-weight: 400;
    -fx-text-fill: white;
}

.viewdicenumber12{
    -fx-background-color: #d6b373;
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 22px;
    -fx-font-weight: 100;
    -fx-text-fill: white;
}

.road{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.cardNumberLabelClay{
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-max-width: 50;
    -fx-max-height: 50;
    -fx-background-image: url("../img/Clay.png");
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 22px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
}

.cardNumberLabelGrain{
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-max-width: 50;
    -fx-max-height: 50;
    -fx-background-image: url("../img/Grain.png");
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 22px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
}

.cardNumberLabelStone{
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-max-width: 50;
    -fx-max-height: 50;
    -fx-background-image: url("../img/Stone.png");
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 22px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
}
.cardNumberLabelWood{
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-max-width: 50;
    -fx-max-height: 50;
    -fx-background-image: url("../img/Wood.png");
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 22px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
}

.cardNumberLabelWool{
    -fx-min-width: 50;
    -fx-min-height: 50;
    -fx-max-width: 50;
    -fx-max-height: 50;
    -fx-background-image: url("../img/Wool.png");
    -fx-background-radius: 100em;
    -fx-background-insets: -2px;
    -fx-padding: 5 10 5 10;
    -fx-font-family: "Helvetica";
    -fx-font-size: 22px;
    -fx-font-weight: 700;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}
